In [1]:
import pandas as pd
import os

In [2]:
# allele frequency
df_freq = pd.read_csv('data/freq.frq', sep='\s+')

In [3]:
df_freq.head()

   CHR          SNP A1 A2      MAF  NCHROBS
0    1   rs10399793  T  C  0.40920   170462
1    1    rs2462492  T  C  0.42410   190920
2    1  rs114608975  C  T  0.04351   424738
3    1    rs6702460  T  G  0.46720   261626
4    1    rs8179466  T  C  0.02188   566138

In [23]:
subtype = ''
num_pc = 10
os.makedirs(f'results/subtype{subtype}/gwas_result', exist_ok=True)

# GWAS summary

In [24]:
# GWAS summary from plink
gwas_path = f'results/subtype{subtype}/res_pc{num_pc}.assoc.logistic'
df_gwas = pd.read_csv(gwas_path, sep='\s+')

In [25]:
# merge allele frequency and GWAS summary
df = pd.merge(df_gwas, df_freq[['SNP', 'A2', 'MAF', 'NCHROBS']], on='SNP')

In [26]:
df.sort_values(by=['P'], ascending=True).head()

,CHR,SNP,BP,A1,TEST,NMISS,BETA,SE,L95,U95,STAT,P,A2,MAF,NCHROBS
4224583,10,rs35198068,114754784,C,ADD,20228,0.1791,0.02182,0.1364,0.2219,8.210,2.212000e-16,T,0.2910,971482
4224589,10,rs7903146,114758349,T,ADD,20305,0.1786,0.02183,0.1358,0.2214,8.183,2.769000e-16,C,0.2896,974818
4224581,10,rs34872471,114754071,C,ADD,20137,0.1776,0.02186,0.1348,0.2205,8.125,4.476000e-16,T,0.2907,967940
4224617,10,rs36090025,114774433,C,ADD,20090,0.1712,0.02197,0.1281,0.2142,7.791,6.622000e-15,A,0.2949,966052
4224646,10,rs7074440,114785424,A,ADD,20105,0.1702,0.02196,0.1272,0.2132,7.750,9.198000e-15,G,0.2948,966996

In [27]:
# top SNPs by p-value (p < 5e-8)
df_top = df[df['P'] < 5e-8]
print(len(df_top))
df_top.to_csv(f'results/subtype{subtype}/gwas_result/res_subtype_{subtype}_pc{num_pc}_top.csv', index=False, na_rep='NA')

64

In [28]:
# save the merged data to xxx.txt.gz, sep by space
df.to_csv(f'results/subtype{subtype}/gwas_result/res_subtype{subtype}_pc{num_pc}.txt.gz', sep=' ', index=False, compression='gzip', na_rep='NA')

In [19]:
print(df['P'].min())

597

2.948e-75